---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
  <p>Written by {frontmatter.author}</p>
  <p class="my-4"><em>{frontmatter.description}</em></p>
  <img
    src={frontmatter.image.url}
    width="300"
    alt={frontmatter.image.alt}/>
    <div class="flex flex-row m-auto">
  { frontmatter.tags.map((tag) => (
      <p class=" p-1 m-1 border-dotted border border-[#a1a1a1] bg-[#F8FCFD]">
        <a class="text-[#00539F]" href={`/tags/${tag}`}>
          {tag}
        </a>
      </p>
    ))
  }
  </div>
</BaseLayout>
<slot />
